<div class="overflow-hidden w-screen h-screen grid grid-cols-[1fr_756px] grid-rows-1 bg-white tracking-wide">
  <div class="grid grid-cols-1 grid-rows-1 p-3">
    <div class="relative bg-slate-50 bg-cover bg-center flex flex-col items-center justify-end p-24 text-white rounded-3xl" style="background-image: url('/assets/images/auth-bg.png');">
      
      <h1 class="text-center text-3xl font-thin mb-5 tracking-wider">Sua nova fase começa <span class="italic">agora</span> </h1>
      <p class="text-center font-thin">Organize seus dias, limpe sua mente e alcance mais com menos <br /> esforço — um passo de cada vez, de forma inteligente e leve.</p>

      <div class="flex items-center justify-center gap-3 mt-16">
        <button class="border-white bg-white/5 backdrop-blur-sm" hlmBtn icon="calendar">Agenda</button>
        <button class="border-white bg-white/5 backdrop-blur-sm" hlmBtn icon="square-kanban">Projetos</button>
        <button class="border-white bg-white/5 backdrop-blur-sm" hlmBtn icon="folder-closed">Documentos</button>
        <button class="border-white bg-white/5 backdrop-blur-sm" hlmBtn icon="piggy-bank">Financeiro</button>
      </div>
    </div>
  </div>
  <div class="relative flex items-center justify-center">
    <main class="w-[396px]">
      <router-outlet />
    </main>
  </div>
</div>