<div [class]="_computedClass()">
  <hlm-data-table [offsetHeight]="offsetHeight()" header="Planos de Conta" [values]="values()" [columns]="columns()" (onSelect)="handleUpdate($event)" [actionFn]="actionFn" [selectionActionFn]="selectionActionFn">
    <ng-template hlmTemplate="row" let-rowData>
      <hlm-td class="truncate flex-1">{{ rowData.name }}</hlm-td>
    </ng-template>
    <ng-template hlmTemplate="action">
      <ng-container [formGroup]="filter.form" *ngIf="filter">
        <button hlmBtn hlmBtnIcon="refresh-ccw" variant="outline" size="icon" [hlmBtnLoading]="loading()" (click)="updateUI()"></button>
        <button hlmBtn hlmBtnIcon="plus" variant="soft" severity="help" (click)="handleCreate()">Adicionar Novo</button>
      </ng-container>
    </ng-template>
    <ng-template hlmTemplate="filter" let-ctx>
      <div class="grid grid-cols-2 gap-3 gap-x-2" [formGroup]="filter.form" *ngIf="filter">
        <div class="hlm-float-label col-span-2">
          <brn-select formControlName="status" placeholder="Selecione um Status">
            <hlm-select-trigger>
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content class="w-56">
              <hlm-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</hlm-option>
            </hlm-select-content>
          </brn-select>
          <label>Status</label>
        </div>

        <button hlmBtn variant="text" (click)="handleClearFilters()">Limpar</button>
        <button hlmBtn variant="soft" severity="help" [disabled]="filter.invalid" (click)="handleApplyFilters(); ctx.close()">Aplicar</button>
      </div>
    </ng-template>
  </hlm-data-table>
</div>