<div class="grid grid-cols-12 px-6 py-4 gap-4">
  <div class="col-span-3 border border-slate-200 rounded-xl bg-slate-50 h-36"></div>
  <div class="col-span-3 border border-slate-200 rounded-xl bg-slate-50 h-36"></div>
  <div class="col-span-3 border border-slate-200 rounded-xl bg-slate-50 h-36"></div>
  <div class="col-span-3 row-span-2 border border-slate-200 rounded-xl bg-slate-50"></div>
  <div class="col-span-9 border border-slate-200 rounded-xl bg-slate-50 min-h-[356px]"></div>
  <div class="col-span-3 row-span-2 border border-slate-200 rounded-xl bg-slate-50 min-h-[356px]"></div>
  <div class="col-span-9 border border-slate-200 rounded-xl bg-slate-50 min-h-[256px]"></div>
  <div class="col-span-9 border border-slate-200 rounded-xl bg-slate-50 min-h-[256px]"></div>
</div>