<aside class="hidden xl:grid absolute overflow-y-hidden hover:overflow-y-auto overflow-x-hidden z-10 h-screen top-0 left-0 transition-all bg-slate-50 border-r border-slate-200 grid-cols-1 grid-rows-[52px_1fr_auto] {{ active || hovering? 'w-64' : 'w-16' }}" (mouseover)="state.setHovering(true)" (mouseleave)="state.setHovering(false)">
  <div class="pr-3 flex items-center relative border-b border-slate-200">
    <div class="w-16 h-16 flex items-center justify-center shrink-0">
      <i-lucide name="shrimp" size="26" [strokeWidth]="1.5"></i-lucide>
    </div>
    <span class="text-xl transition-all w-full -ml-2 {{ active || hovering? 'opacity-100' : 'opacity-0' }}">Zenith_</span>
    <button class="w-8 h-8 hover:bg-slate-200/70 shrink-0 flex items-center justify-center rounded-lg cursor-pointer transition-all {{ active || hovering? 'opacity-100' : 'opacity-0' }}" (click)="state.setActive(!active)">
      <i-lucide [name]="active? 'pin-off' : 'pin'" size="18"></i-lucide>
    </button>
  </div>
  <nav class="p-2 list-none">
    <ms-nav-separator label="Geral"/>
    <ms-nav-item label="Dashboard" icon="layout-dashboard" to="/dashboard"/>
    <ms-nav-item label="Inbox" icon="archive" to="/inbox"/>
    <ms-nav-item label="Metas" icon="goal"/>
    <ms-nav-separator label="Gerenciamento"/>
    <ms-nav-item label="Agenda" icon="calendar" to="/schedules"/>
    <ms-nav-item label="Projetos" icon="square-kanban"/>
    <ms-nav-item label="Documentos" icon="folder-open"/>
    <ms-nav-separator label="Financeiro"/>
    <ms-nav-item label="Fluxo" icon="piggy-bank" to="/cash-flow"/>
    <ms-nav-item label="Despesa" icon="banknote-arrow-down" to="/payables"/>
    <ms-nav-item label="Receita" icon="banknote-arrow-up" to="/receivables"/>
    <ms-nav-item label="Relatórios" icon="clipboard-list"/>
  </nav>
  <div class="px-2 py-3">
    <ms-nav-item label="Cadastros" icon="clipboard-pen-line" to="financial-registries"/>
    <ms-nav-item label="Suporte" icon="message-circle-more"/>
    <ms-nav-item label="Configurações" icon="settings"/>
  </div>
</aside>