<div [class]="_computedClass()">
  <hlm-data-table [offsetHeight]="offsetHeight()" header="Contas Bancária" [offsetHeight]="100" [values]="values()" [columns]="columns()" [actionFn]="actionFn" (onSelect)="handleUpdate($event)" [selectionActionFn]="selectionActionFn">
    <ng-template hlmTemplate="row" let-rowData>
      <hlm-td class="w-72">
        <hlm-pin [color]="rowData.color" class="w-1 h-6 mr-3" />
        {{ rowData.name }}
      </hlm-td>
      <hlm-td class="w-32">{{ rowData.score }}</hlm-td>
      <hlm-td class="flex-1">{{ rowData.status }}</hlm-td>
    </ng-template>
    <ng-template hlmTemplate="prev-body" let-rowData>
      <div class="grid grid-cols-12 gap-2 px-4 pb-2">
        <app-cash-flow-chart-card label="Receita Total" [values]="[2.4,3,4,4,5,4,4,5]" class="col-span-4" />
        <app-cash-flow-chart-card label="Rendimento Total" [values]="[4,5,6,5,5,4,4,3.5,4,5,4]" class="col-span-4" />
        <app-cash-flow-chart-card label="Despesa Total" [values]="[1,2,5,3,4,2,2,3,5,3]" class="col-span-4" />
      </div>
    </ng-template>
    <ng-template hlmTemplate="action">
      <ng-container [formGroup]="filter.form" *ngIf="filter">
        <div class="hlm-float-label col-span-2">
          <hlm-date-picker formControlName="startsAt" class="w-42" [forceSelection]="true" (changed)="updateUI()">
            <span>Escolha uma Data</span>
          </hlm-date-picker>
          <label>Data</label>
        </div>

        <button hlmBtn hlmBtnIcon="refresh-ccw" variant="outline" size="icon" [hlmBtnLoading]="loading()" (click)="updateUI()"></button>
        <button hlmBtn hlmBtnIcon="plus" variant="soft" severity="help" (click)="handleCreate()">Adicionar Novo</button>
      </ng-container>
    </ng-template>
    <ng-template hlmTemplate="filter" let-ctx>
      <div class="grid grid-cols-2 gap-3 gap-x-2" [formGroup]="filter.form" *ngIf="filter">
        <div class="hlm-float-label col-span-2">
          <brn-select formControlName="status" placeholder="Selecione um Status">
            <hlm-select-trigger>
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content class="w-56">
              <hlm-option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</hlm-option>
            </hlm-select-content>
          </brn-select>
          <label>Status</label>
        </div>

        <button hlmBtn variant="text" (click)="configureFilter()">Limpar</button>
        <button hlmBtn variant="soft" severity="help" [disabled]="filter.invalid" (click)="updateUI(); ctx.close()">Aplicar</button>
      </div>
    </ng-template>
  </hlm-data-table>
</div>