<div [class]="styleClass()">
  <ng-container [ngTemplateOutlet]="sidebar" />
  <div class="transition-all {{ this.sidebarActive()? 'pl-[296px]' : '' }}">
    <hlm-data-table #dt [offsetHeight]="offsetHeight()" header="Agenda" [layout]="layout()" [emptyMessOnTbBody]="true" [filter]="!this.sidebarActive()" [values]="values()" [pagination]="false" [columns]="columns()" (onSelect)="handleUpdateRecord($event)" [selectionActionFn]="selectionActionFn">
      <ng-template hlmTemplate="layout-body">
        <div class="overflow-y-auto custom-scroll border-t border-slate-200" [style]="{ height: dt.height() }">
          <mwl-calendar-day-view *ngIf="range() === 'day'" [viewDate]="date()" [events]="events()" [dayStartHour]="6" (hourSegmentClicked)="dayClicked($event.date, true, true)" [dayEndHour]="19" (eventClicked)="handleUpdateRecord($event.event.meta)" (eventTimesChanged)="eventTimesChanged($event)" [refresh]="calendarRefresh" />
          <mwl-calendar-week-view *ngIf="range() === 'week'" [viewDate]="date()" [events]="events()" (hourSegmentClicked)="dayClicked($event.date, true, true)" [dayStartHour]="6" [dayEndHour]="19" (eventClicked)="handleUpdateRecord($event.event.meta)" (eventTimesChanged)="eventTimesChanged($event)" [refresh]="calendarRefresh" />
          <mwl-calendar-month-view *ngIf="range() === 'month'" [viewDate]="date()" [events]="events()" (eventClicked)="handleUpdateRecord($event.event.meta)" (dayClicked)="dayClicked($event.day.date, $event.day.inMonth)" (eventTimesChanged)="eventTimesChanged($event)" [activeDayIsOpen]="monthDayOpen()" [refresh]="calendarRefresh" />
        </div>
      </ng-template>
      <ng-template hlmTemplate="table-body">
        <ng-container *ngFor="let group of groupedValues()">
          <hlm-trow class="overflow-hidden bg-slate-50">
            <hlm-td class="flex-1 justify-between">
              <span>{{ group.date | date : "EEEE" }}</span>
              <span>{{ group.date | date : "dd 'de' MMMM 'de' YYYY" }}</span>
            </hlm-td>
          </hlm-trow>
          <hlm-trow *ngFor="let rowData of group.values" class="cursor-pointer overflow-hidden" (click)="handleUpdateRecord(rowData)">
            <hlm-td class="flex-1">
              <hlm-pin [color]="rowData.color" class="w-1 h-6 mr-3" />
              {{ rowData.title }}
            </hlm-td>
            <hlm-td class="flex-1" *ngIf="rowData.startsAtTime">{{ rowData.startsAtTime }} {{ rowData.endsAtTime && rowData.endsAtTime !== rowData.startsAtTime? " - " + rowData.endsAtTime : "" }}</hlm-td>
            <hlm-td class="flex-1" *ngIf="!rowData.startsAtTime">Dia Todo</hlm-td>
            <hlm-td class="flex-1">{{ rowData.category }}</hlm-td>
          </hlm-trow>
        </ng-container>
      </ng-template>
      <ng-template hlmTemplate="left-action">
        <ng-container [formGroup]="filter.form" *ngIf="filter">
          <button hlmBtn (click)="sidebarActive.set(!sidebarActive())" [hlmBtnIcon]="sidebarActive()? 'panel-left-close' : 'panel-left-open'" variant="outline" size="icon"></button>
          <div class="hlm-button-group">
            <button hlmBtn (click)="layout.set('calendar')" hlmBtnIcon="calendar" [severity]="layout() === 'calendar'? 'help' : 'primary'" [variant]="layout() === 'calendar'? 'soft' : 'outline'" size="icon"></button>
            <button hlmBtn (click)="layout.set('table')" hlmBtnIcon="table" [severity]="layout() === 'table'? 'help' : 'primary'" [variant]="layout() === 'table'? 'soft' : 'outline'" size="icon"></button>
          </div>
        </ng-container>
      </ng-template>
      <ng-template hlmTemplate="action">
        <ng-container [formGroup]="filter.form" *ngIf="filter">
          <button hlmBtn *ngIf="range() === 'month'" (click)="monthDayOpen.set(!monthDayOpen())" [hlmBtnIcon]="monthDayOpen()? 'calendar-arrow-up' : 'calendar-arrow-down'" variant="outline" size="icon"></button>
          <div class="hlm-button-group">
            <button hlmBtn (click)="handleChangeRange('day')" [severity]="range() === 'day'? 'help' : 'primary'" [variant]="range() === 'day'? 'soft' : 'outline'">Dia</button>
            <button hlmBtn (click)="handleChangeRange('week')" [severity]="range() === 'week'? 'help' : 'primary'" [variant]="range() === 'week'? 'soft' : 'outline'">Semana</button>
            <button hlmBtn (click)="handleChangeRange('month')" [severity]="range() === 'month'? 'help' : 'primary'" [variant]="range() === 'month'? 'soft' : 'outline'">Mês</button>
          </div>

          <button hlmBtn (click)="onDateChange()" [severity]="isToday()? 'help' : 'primary'" [variant]="isToday()? 'soft' : 'outline'">Hoje</button>

          <div class="hlm-button-group shrink-0">
            <button hlmBtn (click)="handleSetPrevRange()" hlmBtnIcon="chevron-left" variant="outline" size="icon"></button>
            <brn-popover sideOffset="5" class="peer">
              <button class="!rounded-none !border-l-0" brnPopoverTrigger hlmBtn variant="outline">{{ date() | date : "E dd/MM/YYYY" }}</button>
              <div hlmPopoverContent class="w-auto p-0" *brnPopoverContent="let ctx">
                <hlm-calendar calendarClass="border-0 rounded-none" [date]="date()" (dateChange)="onDateChange($event)"/>
              </div>
            </brn-popover>
            <button hlmBtn (click)="handleSetNextRange()" hlmBtnIcon="chevron-right" variant="outline" size="icon"></button>
          </div>

          <button hlmBtn hlmBtnIcon="refresh-ccw" variant="outline" size="icon" [hlmBtnLoading]="loading()" (click)="updateUI()"></button>
          <button hlmBtn hlmBtnIcon="plus" variant="soft" severity="help" (click)="handleCreate()">Adicionar Novo</button>
        </ng-container>
      </ng-template>
      <ng-template hlmTemplate="filter" let-ctx>
        <div class="grid grid-cols-2 gap-3 gap-x-2" [formGroup]="filter.form" *ngIf="filter">
          <button hlmBtn variant="text" (click)="handleClearFilters()">Limpar</button>
          <button hlmBtn variant="soft" severity="help" [disabled]="filter.invalid" (click)="handleApplyFilters(); ctx.close()">Aplicar</button>
        </div>
      </ng-template>
    </hlm-data-table>
  </div>
</div>

<ng-template #sidebar>
  <div class="w-[296px] bg-white border-r border-slate-200 overflow-y-auto custom-scroll gap-2 z-10 absolute h-full transition-all {{ sidebarActive()? 'left-0' : 'left-[-296px]' }}">
    <hlm-calendar calendarClass="border-0 rounded-none" [date]="date()" (dateChange)="onDateChange($event)"/>
    <div>
      <app-schedule-sidebar-session label="Categorais" [opened]="true">
        <ng-template hlmTemplate="actions">
          <button hlmBtn hlmBtnIcon="plus" variant="ghost" size="icon-sm" class="opacity-0 group-hover:opacity-100 transition-all" (click)="handleCreateScheduleCategory()"></button>
        </ng-template>
        <div class="grid px-1 mb-4">
          <div class="flex items-center justify-between px-3 py-1 mb-0.5 rounded-md hover:bg-slate-100 cursor-pointer group text-sm" *ngFor="let option of categoryOptions" (click)="toggleScheduleCategorySelection(option.id)">
            <div class="flex items-center gap-3">
              <hlm-pin [color]="option.color" />
              <span [class]="scheduleCategoryIsSelected(option.id)? '' : 'line-through opacity-60 text-slate-600'">{{ option.name }}</span>
            </div>
            <div class="flex items-center gap-0.5 opacity-0 group-hover:opacity-100 transition-all">
              <button hlmBtn [hlmBtnIcon]="scheduleCategoryIsSelected(option.id)? 'eye' : 'eye-off'" variant="ghost" size="icon-sm"></button>
              <button hlmBtn hlmBtnIcon="ellipsis" variant="ghost" size="icon-sm" (click)="$event.stopPropagation()"></button>
            </div>
          </div>
        </div>
      </app-schedule-sidebar-session>

      <app-schedule-sidebar-session label="Outros Registros">
        <div class="grid px-1 mb-4">
          <div class="flex items-center justify-between px-3 py-1 mb-0.5 rounded-md hover:bg-slate-100 cursor-pointer group text-sm" *ngFor="let option of otherCategoryOptions" (click)="toggleScheduleCategorySelection(option.id)">
            <div class="flex items-center gap-3">
              <hlm-pin [color]="option.color" />
              <span [class]="scheduleCategoryIsSelected(option.id)? '' : 'line-through opacity-60 text-slate-600'">{{ option.name }}</span>
            </div>
            <div class="flex items-center gap-0.5 opacity-0 group-hover:opacity-100 transition-all">
              <button hlmBtn [hlmBtnIcon]="scheduleCategoryIsSelected(option.id)? 'eye' : 'eye-off'" variant="ghost" size="icon-sm"></button>
              <button hlmBtn hlmBtnIcon="ellipsis" variant="ghost" size="icon-sm" (click)="$event.stopPropagation()"></button>
            </div>
          </div>
        </div>
      </app-schedule-sidebar-session>

      <app-schedule-sidebar-session label="Favoritos">

      </app-schedule-sidebar-session>
    </div>
  </div>
</ng-template>