<div [class]="hlm('px-6 py-4', class)">
  <hlm-data-table header="Centros de Custo" [values]="values" [columns]="columns" (onSelect)="onSelect($event)">
    <ng-template hlmTemplate="action">
      <button hlmBtn size="icon" variant="secondary" hlmBtnIcon="rotate-ccw" [hlmBtnLoading]="loading" [disabled]="loading" (click)="updateUI()"></button>
      <brn-popover>
        <button hlmBtn size="icon" variant="secondary" hlmBtnIcon="funnel-plus" brnPopoverTrigger></button>
        <form hlmPopoverContent *brnPopoverContent="let ctx" class="mt-1 grid grid-cols-2 gap-2" [formGroup]="filter.fb" (ngSubmit)="updateUI()">
          <div class="col-span-2 hlm-float-label">
            <brn-select formControlName="status" placeholder="Nenhum">
              <hlm-select-trigger>
                <hlm-select-value />
              </hlm-select-trigger>
              <hlm-select-content>
                <hlm-option value="ALL">Todos</hlm-option>
                <hlm-option value="ACTIVE">Ativo</hlm-option>
                <hlm-option value="INACTIVE">Inativo</hlm-option>
              </hlm-select-content>
            </brn-select>
            <label>Status</label>
          </div>
          <button hlmBtn variant="secondary" type="button" (click)="clearFilter(); ctx.close()">Limpar</button>
          <button hlmBtn (click)="ctx.close()">Aplicar</button>
        </form>
      </brn-popover>
      <button hlmBtn hlmBtnIcon="plus" (click)="onCreate()">Adicionar</button>
    </ng-template>
    <ng-template hlmTemplate="row" let-rowData>
      <hlm-td class="flex-1">{{ rowData.name }} {{ rowData.default? "(Padrão)" : "" }} </hlm-td>
      <hlm-td class="justify-end w-16 py-0" (click)="$event.stopPropagation()">
        <span class="flex items-center gap-2">
          <button hlmBtn size="icon" variant="ghost" [severity]="rowData.active? 'primary' : 'danger'" hlmBtnIcon="ellipsis-vertical"></button>
        </span>
      </hlm-td>
    </ng-template>
  </hlm-data-table>
</div>