<div [class]="_computedClass()">
  <hlm-data-table [offsetHeight]="offsetHeight()" header="Fluxo de Caixa" [values]="values()" [columns]="columns()" [filter]="false" [pagination]="false" (onInputSearch)="onInputSearch($event)">
    <ng-template hlmTemplate="table-body" let-rowData>
      <ng-container *ngFor="let rowData of values()">
        <app-cash-flow-tree-trow [data]="rowData"/>
      </ng-container>
    </ng-template>
    <ng-template hlmTemplate="action">
      <ng-container [formGroup]="filter.form" *ngIf="filter">
        <button hlmBtn hlmBtnIcon="refresh-ccw" variant="outline" size="icon" [hlmBtnLoading]="loading()" (click)="updateUI()"></button>
        <div class="hlm-float-label col-span-12 xl:col-span-12">
          <input hlmInput type="number" formControlName="year" (change)="updateUI()"/>
          <label>Ano</label>
        </div>
      </ng-container>
    </ng-template>
  </hlm-data-table>
</div>