<div [class]="_computedClass()">
  <hlm-data-table [offsetHeight]="offsetHeight()" header="Fluxo de Caixa" [offsetHeight]="100" [values]="values()" [columns]="columns()" [pagination]="false" (onInputSearch)="onInputSearch($event)">
    <ng-template hlmTemplate="table-body" let-rowData>
      <ng-container *ngFor="let rowData of values()">
        <app-cash-flow-tree-trow [data]="rowData"/>
      </ng-container>
    </ng-template>
    <ng-template hlmTemplate="prev-body" let-rowData>
      <div class="grid grid-cols-12 gap-2 px-4 pb-2">
        <app-cash-flow-chart-card label="Receita Total" [values]="receivableValues()" class="col-span-3" />
        <app-cash-flow-chart-card label="Rendimento Total" [values]="rendValues()" class="col-span-3" />
        <app-cash-flow-chart-card label="Despesa Total" [values]="payableValues()" class="col-span-3" />
        <app-cash-flow-chart-card label="Á Pagar" [values]="toPayValues()" class="col-span-3" />
      </div>
    </ng-template>
    <ng-template hlmTemplate="action">
      <ng-container [formGroup]="filter.form" *ngIf="filter">
        <div class="hlm-button-group shrink-0">
          <button hlmBtn (click)="handleSetPrevRange()" hlmBtnIcon="chevron-left" variant="outline" size="icon"></button>
          <brn-popover sideOffset="5" class="peer">
            <button class="!rounded-none !border-l-0" brnPopoverTrigger hlmBtn variant="outline">{{ filter.value.startsAt | date : "dd/MM/YYYY" }}</button>
            <div hlmPopoverContent class="w-auto p-0" *brnPopoverContent="let ctx">
              <hlm-calendar calendarClass="border-0 rounded-none" [date]="filter.value.startsAt" (dateChange)="onDateChange($event)"/>
            </div>
          </brn-popover>
          <button hlmBtn (click)="handleSetNextRange()" hlmBtnIcon="chevron-right" variant="outline" size="icon"></button>
        </div>

        <button hlmBtn hlmBtnIcon="refresh-ccw" variant="outline" size="icon" [hlmBtnLoading]="loading()" (click)="updateUI()"></button>
        <button hlmBtn hlmBtnIcon="plus" variant="soft" severity="help" (click)="handleCreate()">Adicionar Novo</button>
      </ng-container>
    </ng-template>
    <ng-template hlmTemplate="filter" let-ctx>
      <div class="grid grid-cols-2 gap-3 gap-x-2" [formGroup]="filter.form" *ngIf="filter">
        <div class="hlm-float-label col-span-2">
          <brn-select formControlName="bankAccountId" placeholder="Selecione um Centro de Custo">
            <hlm-select-trigger>
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option *ngFor="let option of bankAccountOptions" [value]="option.id">{{ option.name }}</hlm-option>
            </hlm-select-content>
          </brn-select>
          <label>Conta Bancária</label>
        </div>

        <div class="hlm-float-label col-span-2">
          <brn-select formControlName="centerOfCostId" placeholder="Selecione um Centro de Custo">
            <hlm-select-trigger>
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option *ngFor="let option of centerOfCostOptions" [value]="option.id">{{ option.name }}</hlm-option>
            </hlm-select-content>
          </brn-select>
          <label>Centro de Custo</label>
        </div>

        <div class="hlm-float-label col-span-2">
          <brn-select formControlName="planOfAccountId" placeholder="Selecione um Plano de Conta">
            <hlm-select-trigger>
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option *ngFor="let option of planOfAccountOptions" [value]="option.id">{{ option.name }}</hlm-option>
            </hlm-select-content>
          </brn-select>
          <label>Plano de Conta</label>
        </div>

        <div class="hlm-float-label col-span-2">
          <brn-select formControlName="secrecyId" placeholder="Selecione um Título">
            <hlm-select-trigger>
              <hlm-select-value />
            </hlm-select-trigger>
            <hlm-select-content>
              <hlm-option *ngFor="let option of secrecyOptions" [value]="option.id">{{ option.name }}</hlm-option>
            </hlm-select-content>
          </brn-select>
          <label>Título</label>
        </div>

        <button hlmBtn variant="text" (click)="configureFilter()">Limpar</button>
        <button hlmBtn variant="soft" severity="help" [disabled]="filter.invalid" (click)="updateUI(); ctx.close()">Aplicar</button>
      </div>
    </ng-template>
  </hlm-data-table>
</div>