<form [class]="_computedClass()" [formGroup]="form.form" *ngIf="formReady()" (submit)="onSubmit()">

  <div class="hlm-float-label col-span-12 xl:col-span-9">
    <input hlmInput formControlName="title"/>
    <label>Titulo</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-3">
    <brn-select formControlName="categoryId" placeholder="Selecione uma Categoria">
      <hlm-select-trigger>
        <hlm-select-value />
      </hlm-select-trigger>
      <hlm-select-content>
        <hlm-option *ngFor="let option of scheduleCategoryOptions" [value]="option.id">{{ option.name }}</hlm-option>
      </hlm-select-content>
    </brn-select>
    <label>Categoria</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-3">
    <hlm-date-picker formControlName="startsAt" [forceSelection]="true">
      <span>Escolha uma Data</span>
    </hlm-date-picker>
    <label>Início</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-3">
    <hlm-date-picker formControlName="endsAt" [forceSelection]="true">
      <span>Escolha uma Data</span>
    </hlm-date-picker>
    <label>Fim</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-3">
    <input hlmInput formControlName="startsAtTime" type="time"/>
    <label>Horário de Início</label>
  </div>

   <div class="hlm-float-label col-span-12 xl:col-span-3">
    <input hlmInput formControlName="endsAtTime" type="time"/>
    <label>Horário de Fim</label>
  </div>

  <div class="col-span-12 xl:col-span-8"></div>

  <button class="col-span-12 xl:col-span-2" hlmBtn variant="text" type="button" (click)="back()">Voltar</button>
  <button class="col-span-12 xl:col-span-2" hlmBtn variant="soft" severity="help" [disabled]="form.invalid || processing()">Salvar</button>

</form>