<form [class]="_computedFormClass()" [formGroup]="form.form" *ngIf="formReady()" (submit)="onSubmit()">

  <div class="col-span-12 hlm-float-label">
    <input hlmInput formControlName="title"/>
    <label>Titulo</label>
  </div>

  <div class="col-span-12 flex gap-2">
    <span class="hlm-float-label w-full">
      <brn-select placeholder="Selecione uma Frequência" formControlName="frequency">
        <hlm-select-trigger>
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          <hlm-option *ngFor="let option of frequencyOptions" [value]="option.value">{{ option.label }}</hlm-option>
        </hlm-select-content>
      </brn-select>
      <label>Frequência</label>
    </span>
    <brn-popover sideOffset="5" class="peer" *ngIf="form.value.frequency === 'CUSTOM'">
      <button brnPopoverTrigger type="button" hlmBtn icon="clock-fading" variant="outline" size="icon" [disabled]="processing() || !form.value.recurrenceId"></button>
      <div hlmPopoverContent class="w-72" *brnPopoverContent="let ctx">
        <div class="mb-3 col-span-12 xl:col-span-2 -mt-3 -mx-3 px-4 py-2 bg-slate-50 border-b border-slate-200 rounded-t-lg flex items-center justify-between">
          <span class="text-sm">Recorrência personalizada</span>
          <i-lucide class="cursor-pointer" name="x" size="14" (click)="ctx.close()"></i-lucide>
        </div>
        <div class="px-2">
          <ng-container [ngTemplateOutlet]="recurrenceFormTemplate" />
        </div>
      </div>
    </brn-popover>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-12">
    <brn-select formControlName="categoryId" placeholder="Selecione uma Categoria">
      <hlm-select-trigger>
        <hlm-select-value />
      </hlm-select-trigger>
      <hlm-select-content>
        <hlm-option *ngFor="let option of scheduleCategoryOptions" [value]="option.id"><hlm-pin [color]="option.color" class="mr-2" /> {{ option.name }}</hlm-option>
      </hlm-select-content>
    </brn-select>
    <label>Categoria</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-6">
    <hlm-date-picker formControlName="startsAt" [forceSelection]="true" />
    <label>Início</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-6">
    <input hlmInput formControlName="startsAtTime" type="time"/>
    <label>Horário de Início</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-6">
    <hlm-date-picker formControlName="endsAt" [forceSelection]="true" />
    <label>Fim</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-6">
    <input hlmInput formControlName="endsAtTime" type="time"/>
    <label>Horário de Fim</label>
  </div>

  <div class="hlm-float-label col-span-12 xl:col-span-12">
    <textarea hlmInput rows="7" formControlName="description"></textarea>
    <label>Descrição</label>
  </div>

  <div class="col-span-12 xl:col-span-6 flex gap-2">
    <button class="aspect-square" hlmBtn type="button" size="icon" variant="soft" severity="danger" icon="trash2" (click)="delete()" *ngIf="id()"></button>
    <button class="flex-1" hlmBtn variant="text" type="button" (click)="back()">Voltar</button>
  </div>

  <button class="col-span-12 xl:col-span-6" hlmBtn variant="soft" severity="help" [disabled]="form.invalid || processing()">Salvar</button>

</form>

<ng-template #recurrenceFormTemplate>
  <app-recurrence-form *ngIf="form.value.recurrenceId" [id]="form.value.recurrenceId" />
</ng-template>