<div [class]="_computedClass()">
  <hlm-data-table [offsetHeight]="offsetHeight()" [showHeader]="false" [offsetHeight]="300" [pagination]="false" [values]="values()" [filter]="false" [columns]="columns()" (onSelect)="handleUpdate($event)" [selectionActionFn]="selectionActionFn">
    <ng-template hlmTemplate="row" let-rowData>
      <hlm-td class="flex-1">{{ rowData.startsAt | date : "dd:MM:YYYY" }}</hlm-td>
      <hlm-td class="flex-1">{{ rowData.duration }} min</hlm-td>
      <hlm-td class="flex-1 justify-end">{{ rowData.startsAt | date : "hh:mm:ss" }} - {{ getEndsAtTime(rowData) | date : "hh:mm:ss" }}</hlm-td>
    </ng-template>
    <ng-template hlmTemplate="action">
      <ng-container [formGroup]="filter.form" *ngIf="filter">
        <button hlmBtn hlmBtnIcon="refresh-ccw" variant="outline" size="icon" [hlmBtnLoading]="loading()" (click)="updateUI()"></button>
        <button hlmBtn hlmBtnIcon="plus" variant="soft" severity="help" (click)="handleCreate()">Adicionar Novo</button>
      </ng-container>
    </ng-template>
  </hlm-data-table>
</div>