<div class="py-3 xl:px-6 px-2 xl:py-4">
  <hlm-tabs tab="secrecy" class="w-full">
    <hlm-tabs-list>
      <button hlmTabsTrigger="secrecy">Títulos</button>
      <button hlmTabsTrigger="plan-of-account">Planos de Conta</button>
      <button hlmTabsTrigger="center-of-cost">Centros de Custo</button>
    </hlm-tabs-list>
    <div hlmTabsContent="secrecy" class="p-0">
      <app-secrecy-listing class="p-0 xl:p-0" [showHeader]="false" />
    </div>
    <div hlmTabsContent="plan-of-account" class="">
      <app-plan-of-account-listing class="p-0 xl:p-0" [showHeader]="false" />
    </div>
    <div hlmTabsContent="center-of-cost" class="">
      <app-center-of-cost-listing class="p-0 xl:p-0" [showHeader]="false" />
    </div>
  </hlm-tabs>
</div>