<hlm-tabs tab="bank-account">
  <hlm-tabs-list>
    <button hlmTabsTrigger="bank-account">Contas Bancária</button>
    <button hlmTabsTrigger="secrecy">Títulos</button>
    <button hlmTabsTrigger="plan-of-account">Planos de Conta</button>
    <button hlmTabsTrigger="center-of-cost">Centros de Custo</button>
    <button hlmTabsTrigger="schedule-category">Categorias de Agendamento</button>
  </hlm-tabs-list>
  <div hlmTabsContent="bank-account" class="p-0">
    <app-bank-account-listing />
  </div>
  <div hlmTabsContent="secrecy" class="p-0">
    <app-secrecy-listing />
  </div>
  <div hlmTabsContent="center-of-cost" class="p-0">
    <app-center-of-cost-listing />
  </div>
  <div hlmTabsContent="plan-of-account" class="p-0">
    <app-plan-of-account-listing />
  </div>
  <div hlmTabsContent="schedule-category" class="p-0">
    <app-schedule-category-listing />
  </div>
</hlm-tabs>